* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins", sans-serif; }

.navbar {
  display: flex; justify-content: space-between; align-items: center;
  padding: 0.2rem 0.5rem; background: #003d1b; color: white; position: fixed;
  top: 0; left: 0; width: 100%; z-index: 100;
}

.logo-section { display: flex; align-items: center; gap: 0.6rem; }
.logo { height: 35px; width: auto; }
.logo-section h2 { font-size: 1rem; color: white; }

.nav-links { display: flex; gap: 1rem; list-style: none; }
.nav-links a { text-decoration: none; color: white; font-size: 0.85rem; transition: 0.3s; padding: 0.3rem 0.6rem;}
.nav-links a:hover { color: greenyellow; }

.auth-buttons { display: flex; gap: 0.5rem; }
.auth-buttons button {
  padding:  0.3rem 0.7rem;; font-size: 0.9rem; border-radius: 4px; cursor: pointer;
  transition: 0.3s; border: none;
}
.login { background: transparent; color: greenyellow; border: 1px solid green; }
.login:hover, .signup:hover { background: green; color: white; }
.signup { background: #001a0b; color: white; }

.menu-icon { display: none; flex-direction: column; gap: 3px; cursor: pointer; }
.menu-icon span { height: 2px; width: 20px; background: white; }

@media (max-width: 1118px) {
  .menu-icon { display: flex; }
  .nav-links { display: none; flex-direction: column; position: absolute;
    top: 100%; left: 0; width: 100%; background: #003d1b; padding: 0.5rem 0; }
  .nav-links.open { display: flex; }
}
